<h1>Users#show</h1>
<%= render'users/profile', user: @user %>
<%= render'books/create_book', book: @book %>
<div class="allbook">
  <table>
    <thead>
      <tr>
        <th>image</th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <br>
  </table>
</div>


<p>copyright</p>